@charset "UTF-8";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* 바디부분 기본적인 사항 적용 */
body{
	margin: 0 auto; text-align: center;
	font-family: 'Jua', sans-serif;
	background-color: black; color: #ffffff;
	height: 100%;
}

/* 왼쪽, 오른쪽 정렬 클래스 적용.  */
.left{ text-align: left; }
.right{ text-align: right; }

/* 넓이 조절 클래스 ( 퍼센트  )  */
.w-pct80 { width: 80%; }
.w-pct70 { width: 70%; }
.w-pct60 { width: 60%; }

/* 넓이 조절 클래스 ( 픽셀  )  */
.w-px40 { width: 40px; }
.w-px60 { width: 60px; }
.w-px80 { width: 80px; }
.w-px100 { width: 100px; }
.w-px120 { width: 120px; }
.w-px140 { width: 140px; }
.w-px180 { width: 180px; }
.w-px200 { width: 200px; }
.w-px300 { width: 300px; }

li{ list-style: none; }
a { text-decoration: none; } 

/* 마이페이지 css  */

/* 마이페이지 grid 설정 */

ul.grid { width:1237px; margin:0 auto; padding: 0; min-width: 1237px; height: 900px; min-height: 900px;}
.contentbody { width:1237px; margin:0 auto; padding: 0; min-width: 1237px; height: 1300px; }
.grid li { float:left; width:299px; border:1px solid gray; box-sizing:border-box;  }
.top {width: 98%; margin:0 auto; }
.btnSet {margin-top: 20px;}

.btnSet > a:not(:first-child) {margin-left: 20px;} /* 체크박스 */
.grid li div { padding:3%;  width:95%; height:200px; }	
.grid li:not(:last-child) { margin:0 10px 10px 0;  }
.grid li div:nth-child(1) { height:5px;}	
.grid li div:nth-child(3) { padding: 0; height:15px;}	

/* 버튼 설정 */
a.btn-fill, a.btn-empty {
	text-align: center;	padding: 3px 10px;	
	background-color:#000000;
	border: 2px solid #ffffff;	border-radius:3px;
	box-shadow: 1px 1px 2px #c0c0c0; 
	color:#ffffff;
}



ul {list-style: none; padding:0;}
img { vertical-align:middle; }
a:link, a:visited { text-decoration:none; color:white;}




